.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .p {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: "Rubik", sans-serif;
    width: 450px;
    text-align: center;
    margin-top: 20px;
  }
  .form {
    background-image: url("/geo.jpg");
    background-size: cover;
    width: 25%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.64);
    form {
      background-color: white;
      padding: 10px 15px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        margin-bottom: 10px;
      }
      .inputContainer {
        background-color: #f2f6fc;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 300px;
        margin-bottom: 15px;
        label {
          font-size: 16px;
          font-weight: bolder;
          color: #0071bc;
          margin-right: 10px;
        }
        input {
          background-color: #f2f6fc;
          outline: none;
          border: none;
          border-bottom: 1px solid #0071bc;
          height: 20px;
        }
      }
      button {
        width: 300px;
        border-radius: 10px;
        background-color: #0071bc;
        border: none;
        height: 50px;
        font-weight: 900;
        font-size: 20px;
        color: white;
        cursor: pointer;
      }
    }
  }
}
